* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-repeat: repeat;
    background-color: #4EA0FF;
    background-image: url(../img/pattern.png);
    height: 180px;
}

.logo {
    margin-left: 20px;
    margin-top: 80px;
    width: 300px;
}